<form ng-controller="FormController as form" method="post" action="processcontact.php">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required>
  </div>
  <div class="form-group">
     <label for="email">Email</label>
     <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
  </div>

  <div class="form-group">
    <label for="email">Situación laboral actual</label>
    <select ng-model="situacionlaboral" name="situacionlaboral" class="form-control" required>
      <option value="" selected>Elegir una opción</option>
      <option value="trabajo" name="trabajo">Trabajo</option>
      <option value="estudio" name="estudio">Estudio</option>
      <option value="desempleo" name="desempleo">Desempleado</option>
    </select>
  </div>

  <!-- Campos para trabajo -->
  <div class="trabajo" id="trabajo" ng-show="situacionlaboral=='trabajo'">
    <div class="form-group">
      <label for="email">Indique su sector laboral</label>
      <input type="text" class="form-control" name="sectorlaboral" id="sector" placeholder="Sector Laboral" required>
    </div>

    <div ng-include="'partials/_seocampos.html'"></div>
  </div>
  <!-- Campos para trabajo -->

  <!-- Campos para estudio -->
  <div class="estudio" id="estudio" ng-show="situacionlaboral=='estudio'">
    <div class="form-group">
      <label for="email">¿Qué esta estudiando?</label>
      <input type="text" class="form-control" name="queestudia" id="queestudia" placeholder="Sector Laboral">
    </div>

    <div ng-include="'partials/_seocampos.html'"></div>
  </div>
  <!-- Campos para estudio -->

  <!-- Campos para desempleo -->
  <div class="estudio" id="estudio" ng-show="situacionlaboral=='desempleo'">
    <div class="form-group">
      <label for="email">¿Qué nivel de estudios tiene?</label>
      <select class="form-control" name="nivelestudios">
        <option value="sinestudios" name="sinestudios"> Sin estudios </option>
        <option value="Graduadoescolar" name="Graduadoescolar">Graduado escolar</option>
        <option value="Bachiller" name="Bachiller">Bachiller</option>
        <option value="FormaciónProfesional" name="FormaciónProfesional">Formación Profesional</option>
        <option value="CarreraUniversitaria" name="CarreraUniversitaria">Carrera Universitaria</option>
      </select>
    </div>

    <div ng-include="'partials/_seocampos.html'"></div>
  </div>
  <!-- Campos para desempleo -->

  <div class="form-group">
    <label for="paises">Elige tu país</label>
    <select class="form-control" name="pais">
      <option value="" selected>Elegir una opción</option>
      <option value="australia" name="autralia">Ausrtalia</option>
      <option value="autria" name="autraia">Austria</option>
      <option value="belarus" name="belarus">Belarus</option>
      <option value="belgium" name="belgium">Belgica</option>
      <option value="bulgaria" name="nulgaria">Bulgaria</option>
      <option value="croatia" name="croatia">Croacia</option>
      <option value="czech republic">Republica Checa</option>
      <option value="denmark" name="denmark">Dinamarca</option>
      <option value="estonia" name="estonia">Estonia</option>
      <option value="finland" name="finland">Finlandia</option>
      <option value="france" name="france">Francia</option>
      <option value="germany" name="germany">Alemania</option>
      <option value="greece" name="greece">Grecia</option>
      <option value="hungary" name="hungary">Hungria</option>
      <option value="iceland" name="iceland">Islandia</option>
      <option value="ireland" name="ireland">Irlanda</option>
      <option value="italy" name="italy">Italia</option>
      <option value="japan" name="japan">Japon</option>
      <option value="latvia" name="latvia">Letonia</option>
      <option value="lithuania" name="lithuania">Lituania</option>
      <option value="luxembourg" name="luxemburg">Luxemburgo</option>
      <option value="netherlands" name="netherlands">Holanda</option>
      <option value="newzealand" name="newzealand">Nueva Zelanda</option>
      <option value="norway" name="norway">Noruega</option>
      <option value="poland" name="poland">Polonia</option>
      <option value="portugal" name="portugal">Portugal</option>
      <option value="romania" name="romania">Rumania</option>
      <option value="russia" name="russia">Rusia</option>
      <option value="Slovak" name="republic">República Eslovaca</option>
      <option value="slovenia" name="slovenia">Eslovenia</option>
      <option value="spain" name="spain">España</option>
      <option value="sweden" name="sweden">Suecia</option>
      <option value="switzerland" name="switzerland">Suiza</option>
      <option value="turkey" name="turkey">Turkia</option>
      <option value="unitedkingdom" >Reino Unido</option>
      <option value="ukraine" name="ukraine">Ukrania</option>
      <option value="canada" name="canada">Canada</option>
      <option value="unitedstates" name="unitedstates">Estados Unidos de América</option>

    </select>
  </div>

  <div class="form-group">
    <label for="comoconocio">¿Cómo nos conoció?</label>
    <select ng-model="comoconocio" name="comoconocio" class="form-control">
      <option value="" selected>Elegir una opción</option>
      <option value="amigo" name="amigo">Un amigo</option>
      <option value="socialmedia">Redes sociales</option>
      <option value="web" name="web">Nuestra pagina web</option>
      <option value="Anunciosweb"name="anunciosweb">Anuncios en la  web</option>
      <option value="Correo" name="Correo">Un correo</option>
      <option value="publiciadad">Anuncio publicitario</option>
    </select>
  </div>

  <div class="form-group" ng-show="comoconocio=='socialmedia'">
    <label for="tiporedsocial">Especifique la red social</label>
    <select name="tiporedsocial" class="form-control" >
      <option value="google+" name="google+">Google +</option>
      <option value="Facebook" name="Facebook"> Facebook</option>
      <option value="Twitter">Twitter</option>
      <option value="LinkedIn">LinkedIn</option>
    </select>

  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
