<div class="form-group">
  <label for="email">¿Qué nivel de conocimiento tienes sobre SEO?</label>
  <select class="form-control" name="nivelconocimiento" >
    <option value="Principiante" name="Principiante">  Principiante (No tengo nada de idea sobre SEO)</option>
    <option value="Básico" name="Básico">Básico (Tengo alguna noción básica sobre SEO)</option>
    <option value="Avanzado" name="Avanzado">Avanzado (Soy un experto, llevo más de un año haciendo SEO)</option>
  </select>
</div>
<div class="form-group">
  <label for="email">¿Por qué te interesa el curso de SEO?</label>
  <input type="text" class="form-control" id="porqueinteresa"  name="porqueinteresa"  placeholder="Especifique" >
</div>
